In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [59]:
driver=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [3]:
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, TimeoutException, WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

 # Q1.Scrape the details of most viewed videos on YouTube from Wikipedia.
# You need to find following details: A) Rank, B) Name, C) Artist, D) Upload date and E) Views

In [5]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time=10

In [6]:
rank1=[]
name1=[]
artist1=[]
date1=[]
views1=[]

In [7]:
for i in range(30):
    j=i+1
    rank1.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[2]/tbody/tr[{0}]/td[1]").format(j)).text)
    name1.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[2]/tbody/tr[{0}]/td[2]").format(j)).text.split('[')[0])
    artist1.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[2]/tbody/tr[{0}]/td[3]").format(j)).text)
    views1.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[2]/tbody/tr[{0}]/td[4]").format(j)).text)
    date1.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[2]/tbody/tr[{0}]/td[5]").format(j)).text)

In [8]:
li=[rank1,name1,artist1,views1,date1]
for i in li:
    print(i)
    print(len(i))

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']
30
['"Baby Shark Dance"', '"Despacito"', '"Johny Johny Yes Papa"', '"Shape of You"', '"See You Again"', '"Bath Song"', '"Phonics Song with Two Words"', '"Uptown Funk"', '"Learning Colors – Colorful Eggs on a Farm"', '"Masha and the Bear – Recipe for Disaster"', '"Gangnam Style"', '"Wheels on the Bus"', '"Dame Tu Cosita"', '"Sugar"', '"Roar"', '"Counting Stars"', '"Sorry"', '"Thinking Out Loud"', '"Axel F"', '"Girls Like You"', '"Faded"', '"Dark Horse"', '"Baa Baa Black Sheep"', '"Let Her Go"', '"Bailando"', '"Lean On"', '"Perfect"', '"Waka Waka (This Time for Africa)"', '"Shake It Off"', '"Mi Gente"']
30
["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon – Nursery Rhymes', 'ChuChu TV', 'Mark Ronson', 'Miroshka TV', 'Get Movies', 'Psy', 'Cocomelon – Nursery Rhymes', 'El Chombo', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Justin Bieber', 'Ed Sheeran', 'Crazy Frog', 'Maroon 5', 'Alan Walker', 'Katy Perry', 'Cocomelon – Nursery Rhymes', 'Passenger', 'Enrique Iglesias', 'Major Lazer', 'Ed Sheeran', 'Shakira', 'Taylor Swift', 'J Balvin']
30
['10.95', '7.90', '6.39', '5.76', '5.57', '5.51', '4.72', '4.63', '4.59', '4.50', '4.48', '4.20', '3.98', '3.72', '3.61', '3.61', '3.56', '3.47', '3.42', '3.31', '3.31', '3.30', '3.29', '3.26', '3.23', '3.23', '3.20', '3.19', '3.19', '3.10']
30
['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'May 2, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'January 31, 2012', 'July 15, 2012', 'May 24, 2018', 'April 5, 2018', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 22, 2015', 'October 7, 2014', 'June 16, 2009', 'May 31, 2018', 'December 3, 2015', 'February 20, 2014', 'June 25, 2018', 'July 25, 2012', 'April 11, 2014', 'March 22, 2015', 'November 9, 2017', 'June 4, 2010', 'August 18, 2014', 'June 29, 2017']
30

In [9]:
rank2=[]
name2=[]
artist2=[]
date2=[]
views2=[]

In [10]:
for i in range(100):
    j=i+1
    try:
        name2.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr[{0}]/td[1]").format(j)).text.split('[')[0])
        artist2.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr[{0}]/td[2]").format(j)).text)
        views2.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr[{0}]/td[3]").format(j)).text)
        date2.append(driver.find_element_by_xpath(("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr[{0}]/td[4]").format(j)).text)
        rank2.append(j)
    except NoSuchElementException:
        break

In [11]:
li2=[rank2,name2,artist2,views2,date2]
for i in li2:
    print(i)
    print(len(i))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
19
['"Baby Shark Dance"', '"Despacito"', '"See You Again"', '"Gangnam Style"⁂', '"Baby"*', '"Bad Romance"', '"Charlie Bit My Finger"‡', '"Evolution of Dance"', '"Girlfriend"‡', '"Evolution of Dance"', '"Music Is My Hot Hot Sex"‡', '"Evolution of Dance"*', '"Pokemon Theme Music Video"‡', '"Myspace – The Movie"‡', '"Phony Photo Booth"‡', '"The Chronic of Narnia Rap"‡', '"Ronaldinho: Touch of Gold"‡*', '"I/O Brush"‡*', '"Me at the zoo"']
19
["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'Wiz Khalifa', 'Psy', 'Justin Bieber', 'Lady Gaga', 'HDCYT', 'Judson Laipply', 'RCA Records', 'Judson Laipply', 'CLARUSBARTEL72', 'Judson Laipply', 'Smosh', 'eggtea', 'mugenized', 'youtubedude', 'Nikesoccer', 'larfus', 'jawed']
19
['7,046,700,000', '3,002,800,000', '2,894,000,000', '803,700,000', '245,400,000', '178,400,000', '128,900,000', '118,900,000', '92,600,000', '78,400,000', '76,600,000', '10,600,000', '4,300,000', '2,700,000', '3,400,000', '2,300,000', '255,000', '247,000', '1']
19
['June 17, 2016', 'January 12, 2017', 'April 6, 2015', 'July 15, 2012', 'February 19, 2010', 'November 24, 2009', 'May 22, 2007', 'April 6, 2006', 'February 27, 2007', 'April 6, 2006', 'April 9, 2007', 'April 6, 2006', 'November 28, 2005', 'January 31, 2006', 'December 1, 2005', 'December 18, 2005', 'October 21, 2005', 'October 5, 2005', 'April 23, 2005']
19

In [12]:
df1 = pd.DataFrame({'Rank of 30 most viewed videos on youtube':rank1,'Name Of Video':name1,'Artist':artist1,'Views':views1,'Date':date1})
df1_1 = pd.DataFrame({'Rank of the progression of most viewed video':rank2,'Name Of Video':name2,'Artist':artist2,'Views':views2,'Date':date2})
print(df1)

   Rank of 30 most viewed videos on youtube  \
0                                        1.
1                                        2.
2                                        3.
3                                        4.
4                                        5.
5                                        6.
6                                        7.
7                                        8.
8                                        9.
9                                       10.
10                                      11.
11                                      12.
12                                      13.
13                                      14.
14                                      15.
15                                      16.
16                                      17.
17                                      18.
18                                      19.
19                                      20.
20                                      21.
21                                      22.
22                                      23.
23                                      24.
24                                      25.
25                                      26.
26                                      27.
27                                      28.
28                                      29.
29                                      30.

                                  Name Of Video  \
0                            "Baby Shark Dance"
1                                   "Despacito"
2                        "Johny Johny Yes Papa"
3                                "Shape of You"
4                               "See You Again"
5                                   "Bath Song"
6                 "Phonics Song with Two Words"
7                                 "Uptown Funk"
8   "Learning Colors – Colorful Eggs on a Farm"
9    "Masha and the Bear – Recipe for Disaster"
10                              "Gangnam Style"
11                          "Wheels on the Bus"
12                             "Dame Tu Cosita"
13                                      "Sugar"
14                                       "Roar"
15                             "Counting Stars"
16                                      "Sorry"
17                          "Thinking Out Loud"
18                                     "Axel F"
19                             "Girls Like You"
20                                      "Faded"
21                                 "Dark Horse"
22                        "Baa Baa Black Sheep"
23                                 "Let Her Go"
24                                   "Bailando"
25                                    "Lean On"
26                                    "Perfect"
27           "Waka Waka (This Time for Africa)"
28                               "Shake It Off"
29                                   "Mi Gente"

                                         Artist  Views               Date
0   Pinkfong Baby Shark - Kids' Songs & Stories  10.95      June 17, 2016
1                                    Luis Fonsi   7.90   January 12, 2017
2                                   LooLoo Kids   6.39    October 8, 2016
3                                    Ed Sheeran   5.76   January 30, 2017
4                                   Wiz Khalifa   5.57      April 6, 2015
5                    Cocomelon – Nursery Rhymes   5.51        May 2, 2018
6                                     ChuChu TV   4.72      March 6, 2014
7                                   Mark Ronson   4.63  November 19, 2014
8                                   Miroshka TV   4.59  February 27, 2018
9                                    Get Movies   4.50   January 31, 2012
10                                          Psy   4.48      July 15, 2012
11                   Cocomelon – Nursery Rhymes   4.20       May 24, 2018
12                                    El Chombo   3.98      April 5, 2018
13                                     Maroon 5   3.72   January 14, 2015
14                                   Katy Perry   3.61  September 5, 2013
15                                  OneRepublic   3.61       May 31, 2013
16                                Justin Bieber   3.56   October 22, 2015
17                                   Ed Sheeran   3.47    October 7, 2014
18                                   Crazy Frog   3.42      June 16, 2009
19                                     Maroon 5   3.31       May 31, 2018
20                                  Alan Walker   3.31   December 3, 2015
21                                   Katy Perry   3.30  February 20, 2014
22                   Cocomelon – Nursery Rhymes   3.29      June 25, 2018
23                                    Passenger   3.26      July 25, 2012
24                             Enrique Iglesias   3.23     April 11, 2014
25                                  Major Lazer   3.23     March 22, 2015
26                                   Ed Sheeran   3.20   November 9, 2017
27                                      Shakira   3.19       June 4, 2010
28                                 Taylor Swift   3.19    August 18, 2014
29                                     J Balvin   3.10      June 29, 2017

In [13]:
print(df1_1)

    Rank of the progression of most viewed video  \
0                                              1
1                                              2
2                                              3
3                                              4
4                                              5
5                                              6
6                                              7
7                                              8
8                                              9
9                                             10
10                                            11
11                                            12
12                                            13
13                                            14
14                                            15
15                                            16
16                                            17
17                                            18
18                                            19

                    Name Of Video  \
0              "Baby Shark Dance"
1                     "Despacito"
2                 "See You Again"
3                "Gangnam Style"⁂
4                         "Baby"*
5                   "Bad Romance"
6        "Charlie Bit My Finger"‡
7            "Evolution of Dance"
8                   "Girlfriend"‡
9            "Evolution of Dance"
10     "Music Is My Hot Hot Sex"‡
11          "Evolution of Dance"*
12   "Pokemon Theme Music Video"‡
13         "Myspace – The Movie"‡
14           "Phony Photo Booth"‡
15   "The Chronic of Narnia Rap"‡
16  "Ronaldinho: Touch of Gold"‡*
17                  "I/O Brush"‡*
18                "Me at the zoo"

                                         Artist          Views  \
0   Pinkfong Baby Shark - Kids' Songs & Stories  7,046,700,000
1                                    Luis Fonsi  3,002,800,000
2                                   Wiz Khalifa  2,894,000,000
3                                           Psy    803,700,000
4                                 Justin Bieber    245,400,000
5                                     Lady Gaga    178,400,000
6                                         HDCYT    128,900,000
7                                Judson Laipply    118,900,000
8                                   RCA Records     92,600,000
9                                Judson Laipply     78,400,000
10                               CLARUSBARTEL72     76,600,000
11                               Judson Laipply     10,600,000
12                                        Smosh      4,300,000
13                                       eggtea      2,700,000
14                                    mugenized      3,400,000
15                                  youtubedude      2,300,000
16                                   Nikesoccer        255,000
17                                       larfus        247,000
18                                        jawed              1

                 Date
0       June 17, 2016
1    January 12, 2017
2       April 6, 2015
3       July 15, 2012
4   February 19, 2010
5   November 24, 2009
6        May 22, 2007
7       April 6, 2006
8   February 27, 2007
9       April 6, 2006
10      April 9, 2007
11      April 6, 2006
12  November 28, 2005
13   January 31, 2006
14   December 1, 2005
15  December 18, 2005
16   October 21, 2005
17    October 5, 2005
18     April 23, 2005

# Q2. Scrape the details team India’s international fixtures from bcci.tv.
# You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code

In [16]:
driver.get('http://www.bcci.tv/')
time=10

In [17]:
int_click=driver.find_element_by_xpath('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
driver.get(int_click.get_attribute('href'))
time=5

In [26]:
title1=[]
series1=[]
place1=[]
date1=[]
time1=[]

In [27]:
for i in range(2):
    title_tags1=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
    for j in title_tags1:
        title1.append(j.text.split('-')[0])
    series_tags1=driver.find_elements_by_xpath("//span[@class='ng-binding']")
    for k in series_tags1:
        series1.append(k.text)
    place_tags1=driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
    for l in place_tags1:
        place1.append(l.text)
    date_tags1=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
    for m in date_tags1:
        date1.append(m.text)
    time_tags1=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
    for n in time_tags1:
        time1.append(n.text)
    if i<1:
        try:
            more_tags1=driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
            more_tags1.click()
        except NoSuchElementException:
            delay=15
            WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3')))
            more_tags1=driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
            more_tags1.click()

In [28]:
li=[title1,series1,place1,date1,time1]
for i in li:
    print(i)
    print(len(i))

['1st ODI ', '2nd ODI ', '3rd ODI ', '1st T20I ', '1st T20I ', '2nd T20I ', '2nd T20I ', '3rd T20I ', '1st ODI ', '2nd ODI ', '3rd ODI ', '1st T20I ', '1st T20I ', '2nd T20I ', '2nd T20I ', '3rd T20I ', '3rd T20I ', '4th T20I ', '5th T20I ']
19
['INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'COMMONWEALTH GAMES WOMENS CRICKET 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'COMMONWEALTH GAMES WOMENS CRICKET 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'INDIA TOUR OF WEST INDIES ODI SERIES 2022', 'COMMONWEALTH GAMES WOMENS CRICKET 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'COMMONWEALTH GAMES WOMENS CRICKET 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'COMMONWEALTH GAMES WOMENS CRICKET 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022', 'INDIA TOUR OF WEST INDIES T20 SERIES 2022']
19
['Queens Park Oval,', 'Queens Park Oval,', 'Queens Park Oval,', 'Edgbaston,', 'Brian Lara Stadium,', 'Edgbaston,', 'Warner Park,', 'Warner Park,', 'Queens Park Oval,', 'Queens Park Oval,', 'Queens Park Oval,', 'Edgbaston,', 'Brian Lara Stadium,', 'Edgbaston,', 'Warner Park,', 'Warner Park,', 'Edgbaston,', 'Central Broward Regional Park Stadium Turf Ground,', 'Central Broward Regional Park Stadium Turf Ground,']
19
['22 JUL 2022', '24 JUL 2022', '27 JUL 2022', '29 JUL 2022', '29 JUL 2022', '31 JUL 2022', '1 AUG 2022', '2 AUG 2022', '22 JUL 2022', '24 JUL 2022', '27 JUL 2022', '29 JUL 2022', '29 JUL 2022', '31 JUL 2022', '1 AUG 2022', '2 AUG 2022', '3 AUG 2022', '6 AUG 2022', '7 AUG 2022']
19
['7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '4:30 PM IST', '8:00 PM IST', '4:30 PM IST', '8:00 PM IST', '8:00 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '4:30 PM IST', '8:00 PM IST', '4:30 PM IST', '8:00 PM IST', '8:00 PM IST', '11:30 PM IST', '8:00 PM IST', '8:00 PM IST']
19

In [29]:
df2=pd.DataFrame({'Match Title': title1, 'Series': series1, 'Place': place1, 'Date': date1, 'Time':time1})
df2

,Match Title,Series,Place,Date,Time
0,1st ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",22 JUL 2022,7:00 PM IST
1,2nd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",24 JUL 2022,7:00 PM IST
2,3rd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",27 JUL 2022,7:00 PM IST
3,1st T20I,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",29 JUL 2022,4:30 PM IST
4,1st T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium,",29 JUL 2022,8:00 PM IST
5,2nd T20I,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",31 JUL 2022,4:30 PM IST
6,2nd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",1 AUG 2022,8:00 PM IST
7,3rd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",2 AUG 2022,8:00 PM IST
8,1st ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",22 JUL 2022,7:00 PM IST
9,2nd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",24 JUL 2022,7:00 PM IST
10,3rd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",27 JUL 2022,7:00 PM IST
11,1st T20I,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",29 JUL 2022,4:30 PM IST
12,1st T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium,",29 JUL 2022,8:00 PM IST
13,2nd T20I,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",31 JUL 2022,4:30 PM IST
14,2nd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",1 AUG 2022,8:00 PM IST
15,3rd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",2 AUG 2022,8:00 PM IST
16,3rd T20I,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",3 AUG 2022,11:30 PM IST
17,4th T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,Central Broward Regional Park Stadium Turf Gro...,6 AUG 2022,8:00 PM IST
18,5th T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,Central Broward Regional Park Stadium Turf Gro...,7 AUG 2022,8:00 PM IST

# Q3). Scrape the details of selenium exception from guru99.com.
# You need to find following details: A) Name B) Description
# Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [37]:
driver.get('http://www.guru99.com/')
time=5

In [38]:
sel_opt=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
driver.get(sel_opt.get_attribute('href'))

In [39]:
time=5
exc_opt=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
driver.get(exc_opt.get_attribute('href'))

In [40]:
name3=[]
desc3=[]

In [41]:
for i in range(1,100):
    j=i+1
    try:
        name3.append(driver.find_element_by_xpath(("//table[@class='table table-striped']/tbody/tr[{0}]/td[1]").format(j)).text)
        desc3.append(driver.find_element_by_xpath(("//table[@class='table table-striped']/tbody/tr[{0}]/td[2]").format(j)).text)
    except NoSuchElementException:
        break
print(len(name3))
print(len(desc3))

41
41

In [42]:
df3=pd.DataFrame({'Name of Exception':name3,'Description':desc3})
df3

,Name of Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q4). Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP ($ billion) 
# Note:- From statisticstimes home page you have to reach to economy page through code

In [67]:
driver=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [68]:
driver.get('http://statisticstimes.com/')
time=10

In [69]:
opt_1=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(opt_1.get_attribute('href'))
time=5

In [70]:
opt_2 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(opt_2.get_attribute('href'))

In [85]:
rank4=[]
state4=[]
gsdp4=[]
gsdp4_1=[]
share4=[]
gdp4=[]

In [86]:
r4=driver.find_elements_by_xpath("//tr[@class='odd']/td[1]")
s4=driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")
g4=driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")
g4_1=driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")
sh4=driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")
gd4=driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
r14=driver.find_elements_by_xpath("//tr[@class='even']/td[1]")
s14=driver.find_elements_by_xpath("//tr[@class='even']/td[2]")
g14=driver.find_elements_by_xpath("//tr[@class='even']/td[3]")
g14_1=driver.find_elements_by_xpath("//tr[@class='even']/td[4]")
sh14=driver.find_elements_by_xpath("//tr[@class='even']/td[5]")
gd14=driver.find_elements_by_xpath("//tr[@class='even']/td[6]")
l=[r4,s4,g4,g4_1,sh4,gd4]
l1=[r14,s14,g14,g14_1,sh14,gd14]
ll=[rank4,state4,gsdp4,gsdp4_1,share4,gdp4]
for j in range(len(ll)):
    count_odd=0
    count_even=1
    for a in l[j]:
        if count_odd < 34:
            ll[j].insert(count_odd,a.text)
            count_odd+=2
    for b in l1[j]:
        if count_even < 33:
            ll[j].insert(count_even,b.text)
            count_even+=2

In [87]:
for i in ll:
    print(i)
    print(len(i))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']
33
['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']
33
['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']
33
['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']
33
['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']
33
['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']
33

# Q5). Scrape the details of trending repositories on Github.com. Url = https://github.com/
# You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [90]:
driver.close()

In [91]:
driver=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [149]:
driver.get('https://github.com/')

In [150]:
opt5_1= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
driver.get(opt5_1.get_attribute('href'))

In [151]:
title5=[]
desc5=[]
lang5=[]
contr5=[]
href_tags=[]

In [152]:
title5_tags=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title5_tags:
    title5.append(i.text)
    href_tags.append(i.get_attribute('href'))

for k in href_tags:
    driver.get(k)
    try:
        desc5_tags=driver.find_element_by_xpath("//p[@class='f4 my-3']")
        desc5.append(desc5_tags.text)
    except:
        desc5.append('-')
        
    try:
        lang5_tags=driver.find_element_by_xpath("//span[@class='color-fg-default text-bold mr-1']")
        lang5.append(lang5_tags.text)
    except NoSuchElementException:
        lang5.append('-')
    
    try:
        contr5_tags=driver.find_element_by_xpath('''//*[text()="
    Contributors "]/span''')
        contr5.append(contr5_tags.text)
    except NoSuchElementException:
        contr5.append('-')

In [153]:
print(len(title5),len(desc5),len(lang5),len(contr5))

25 25 25 25

In [154]:
df5=pd.DataFrame({'Title of Repository':title5,'Description':desc5,'Language Used':lang5,'Contributors Count':contr5})
df5

,Title of Repository,Description,Language Used,Contributors Count
0,logto-io / logto,"🧑‍🚀 Logto helps you build the sign-in, auth, a...",TypeScript,13
1,dair-ai / ML-Course-Notes,🎓 Sharing course notes on all topics related t...,-,2
2,loov / lensm,Go assembly and source viewer,Go,3
3,Sairyss / domain-driven-hexagon,"Learn Domain-Driven Design, software architect...",TypeScript,12
4,rust-lang / rustlings,🦀 Small exercises to get you used to reading a...,Rust,246
5,discordjs / discord.js,A powerful JavaScript library for interacting ...,JavaScript,424
6,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,JavaScript,264
7,zbezj / HEU_KMS_Activator,-,-,-
8,algorithm-visualizer / algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,JavaScript,24
9,charlax / professional-programming,A collection of full-stack resources for progr...,Python,23
10,freqtrade / freqtrade,"Free, open source crypto trading bot",Python,225
11,vasanthk / how-web-works,What happens behind the scenes when we type ww...,-,6
12,kevwan / tproxy,A cli tool to proxy and analyze TCP connections.,Go,6
13,TheAlgorithms / JavaScript,Algorithms and Data Structures implemented in ...,JavaScript,224
14,practical-tutorials / project-based-learning,Curated list of project-based tutorials,-,97
15,dominikbraun / graph,A generic library for creating graph data stru...,Go,-
16,MasterBin-IIAU / Unicorn,[ECCV'22 Oral] Towards Grand Unification of Ob...,Python,-
17,fossabot / typoraCracker,A patch and keygen tools for typora.,Python,2
18,wailsapp / wails,Create beautiful applications using Go,Go,101
19,huachaohuang / awesome-dbdev,Awesome materials about database development.,-,-
20,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,-,75
21,github / docs,The open-source repo for docs.github.com,JavaScript,"1,337"
22,Hunlongyu / ZY-Player,▶️ 跨平台桌面端视频资源播放器.简洁无广告.免费高颜值. 🎞,Vue,9
23,terraform-aws-modules / terraform-aws-vpc,Terraform module which creates VPC resources o...,HCL,97
24,kraanzu / termtyper,A typing application to level up your fingers!,Python,6

# Q6). Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
# You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [174]:
driver.close()

In [175]:
driver6=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [176]:
driver6.get('https:/www.billboard.com/')

In [177]:
opt6=driver6.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
driver6.get(opt6.get_attribute('href'))

In [178]:
opt6_1=driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a')
driver6.get(opt6_1.get_attribute('href'))

In [203]:
song6=[]
art6=[]
lwr6=[]
pr6=[]
wob6=[]

In [204]:
song6_tags=driver6.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
art6_tags=driver6.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
lwr6_tags=driver6.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
art6.append((driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')).text)
song6.append((driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')).text)
lwr6.append((driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')).text)
pr6.append((driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')).text)
wob6.append((driver6.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span')).text)
for i in song6_tags:
    song6.append(i.text)
for j in art6_tags:
    art6.append(j.text)
count=0
for k in lwr6_tags:
    if (count%6)==0:
        lwr6.append(k.text)
        count+=1
        continue
    if ((count-1)%6)==0:
        pr6.append(k.text)
        count+=1
        continue
    if ((count-2)%6)==0:
        wob6.append(k.text)
        count+=1
        continue
    count+=1
    continue

In [205]:
print(len(song6),len(art6),len(lwr6),len(pr6),len(wob6))

100 100 100 100 100

In [207]:
df6=pd.DataFrame({'Songs':song6,'Artist':art6,'Last Week Rank':lwr6,'Peak Rank':pr6,'Weeks on Board':wob6})
df6

,Songs,Artist,Last Week Rank,Peak Rank,Weeks on Board
0,As It Was,Harry Styles,1,1,15
1,About Damn Time,Lizzo,2,2,13
2,First Class,Jack Harlow,3,1,14
3,Running Up That Hill (A Deal With God),Kate Bush,4,4,27
4,Wait For U,Future Featuring Drake & Tems,5,1,11
...,...,...,...,...,...
95,Ghost Story,Carrie Underwood,86,61,8
96,FYTB,Brent Faiyaz Featuring Joony,-,97,1
97,Wasting Time,Brent Faiyaz Featuring Drake,-,49,3
98,Cash In Cash Out,"Pharrell Williams Featuring 21 Savage & Tyler,...",84,26,5
99,Te Felicito,Shakira & Rauw Alejandro,89,67,6

# Q7). Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
# You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location
# Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [210]:
driver6.close()

In [271]:
driver7=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [273]:
driver7.get('https://www.naukri.com/naukri-dot-com-recruiters')

In [274]:
search_opt1=driver7.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_opt1.clear()
search_opt1.send_keys('Data Science')

In [276]:
search_button=driver7.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')
search_button.click()

In [299]:
name7=[]
des7=[]
comp7=[]
skill7=[]
loc7=[]
href7=[]

In [300]:
name7_tags=driver7.find_elements_by_xpath("//span[@class='fl ellipsis']")
des7_tags=driver7.find_elements_by_xpath("//span[@class='ellipsis clr']")
comp7_tags=driver7.find_elements_by_xpath("//i[@class='cmpIcn']")
skill7_tags=driver7.find_elements_by_xpath("//div[@class='hireSec highlightable']")
href7_tags=driver7.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")
for i in name7_tags:
    name7.append(i.text)
for j in des7_tags:
    des7.append(j.text)
for k in comp7_tags:
    comp7.append(k.text)
for l in skill7_tags:
    skill7.append(l.text)
for m in href7_tags:
    href7.append(m.get_attribute('href'))
for n in href7:
    driver7.get(n)
    loc7_tags= driver7.find_element_by_xpath("//span[@class='fl ellipsis loc']")
    if loc7_tags.text=='':
        loc7.append('-')
    else:
        loc7.append(loc7_tags.text)

In [301]:
print(len(name7),len(des7),len(comp7),len(skill7),len(loc7))

50 50 50 50 50

In [302]:
df7=pd.DataFrame({'Name of Recruiter':name7,'Designation':des7,'Company':comp7,'Skills they hire':skill7,'Location':loc7})
df7

,Name of Recruiter,Designation,Company,Skills they hire,Location
0,Aakash Harit,HR Manager,,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,,"Mean Stack, javascript, angularjs, mongodb, We...","Ahmedabad,Delhi,Gurgaon"
4,subhas patel,Founder CEO,,"Hadoop, Spark, Digital Strategy, Data Architec...","Bengaluru / Bangalore,Delhi,Gurgaon"
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,,"Analytics, Business Intelligence, Business Ana...",Bengaluru / Bangalore
6,Institute for Financial Management and Resear,Programme Manager,,Data Science,"Chennai,Andhra Pradesh - Other"
7,Balu Ramesh,HR Administrator,,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,,"Oracle Dba, Data Science, Data Warehousing, ET...","Bangalore/Bengaluru,Chennai"
11,Kalpana Dumpala,Executive Hiring,,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,,"Big Data, Hadoop, Data Analytics, Data Science","Hyderabad / Secunderabad,Bengaluru / Bangalore"
16,Sakshi Chhikara,Assistant Manager HR,,"React.js, Data Science, Java, Front End, Busin...","Chandigarh,Mohali"
17,Ruchi Dhote,Senior Executive Talent Acquisition,,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Mumbai
18,Manisha Yadav,HR Executive,,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,,"Data Analytics, Data Science, Machine Learning...","Bengaluru / Bangalore,Pune,Hyderabad / Secunde..."
22,Rithika dadwal,HR Recruiter,,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Vaishnavi Kudalkar,HR Executive,,"Data Science, Python, Data Analytics",Kalyan/Dombivli
25,Shaun Rao,Manager Human Resources,,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,,"Signal Processing, Machine Learning, Neural Ne...","Bengaluru / Bangalore,Hyderabad / Secunderabad"
30,Rajat Kumar,Founder CEO,,"Web Technologies, Project Management, Software...",Mumbai
31,Dhruv Dev Dubey,Company Recruitment Head,,"Server Administartion, Verilog, Vhdl, Digital ...","Lucknow,Patna,Kolkata"
32,Jayanth N,Project Manager,,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,,"Ethical Hacking, Security Operations Center, S...","Hyderabad / Secunderabad,Telangana - Other"
34,SREEDHAR,Recruitment Consultant,,"Data Science, Machine Learning, Big Data Analy...","Hyderabad/Secunderabad,Bangalore/Bengaluru"
35,Priya Khare,Senior Manager,,"Data Science, Artificial Intelligence, analyti...","Bengaluru / Bangalore,Mumbai,Gurgaon"
36,Amit Sharma,Consultant,,"Machine Learning, Artificial Intelligence, Dat...","Delhi,Gurgaon,Noida"
37,Kanan,senior technology instructor,,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,,"Relationship Management, Retail Sales, Private...",Delhi
39,Brad,"Manager, Technical Recruiting",,"Data Science, Software Engineering",Hyderabad / Secunderabad
40,Rutuja Pawar,Technical Recruiter,,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,,"Data Science, Media Marketing, Resource Planni...",Mysoru / Mysore
46,Balaji Kolli,Co Founder,,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
49,Amir Chowdhury,Managing Partner,,"Machine Learning, Data Science, Product Manage...","Bengaluru / Bangalore,Chennai,Delhi"

# Q8). Scrape the details of Highest selling novels.
# Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
# You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [216]:
driver7.close()

In [217]:
driver8=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [221]:
driver8.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [231]:
book8=[]
auth8=[]
vol8=[]
pub8=[]
gen8=[]

In [232]:
for i in range(1,101):
    book8.append(driver8.find_element_by_xpath(("//table[@class='in-article sortable']/tbody/tr[{0}]/td[2]").format(i)).text)
    auth8.append(driver8.find_element_by_xpath(("//table[@class='in-article sortable']/tbody/tr[{0}]/td[3]").format(i)).text)
    vol8.append(driver8.find_element_by_xpath(("//table[@class='in-article sortable']/tbody/tr[{0}]/td[4]").format(i)).text)
    pub8.append(driver8.find_element_by_xpath(("//table[@class='in-article sortable']/tbody/tr[{0}]/td[5]").format(i)).text)
    gen8.append(driver8.find_element_by_xpath(("//table[@class='in-article sortable']/tbody/tr[{0}]/td[6]").format(i)).text)

In [233]:
print(len(book8),len(auth8),len(vol8),len(pub8),len(gen8))

100 100 100 100 100

In [234]:
df8=pd.DataFrame({'Title':book8,'Author':auth8,'Volumes Sold':vol8,'Publisher':pub8,'Genre':gen8})
df8

,Title,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9). Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
# You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [237]:
driver8.close()

In [238]:
driver9=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [239]:
driver9.get('https://www.imdb.com/list/ls095964455/')

In [242]:
name9=[]
year9=[]
gen9=[]
rt9=[]
rat9=[]
vote9=[]

In [243]:
rat9_tags=driver9.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
vote9_tags=driver9.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
name9_tags=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
year9_tags=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
gen9_tags=driver9.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]")
rt9_tags=driver9.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]")
for i in name9_tags:
    name9.append(i.text)
for j in year9_tags:
    year9.append(j.text)
for k in gen9_tags:
    gen9.append(k.text)
for l in rt9_tags:
    rt9.append(l.text)
for m in rat9_tags:
    rat9.append(m.text)
for n in vote9_tags:
    vote9.append(n.text)

In [244]:
print(len(name9),len(year9),len(gen9),len(rt9),len(rat9),len(vote9))

100 100 100 100 100 100

In [ ]:
href_tags=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in href_tags:
    href9.append(i.get_attribute('href'))
for j in href9:
    driver9.get(j)
    name9.append((driver9.find_element_by_xpath("//h1[@class='sc-b73cd867-0 eKrKux']")).text)
    year9.append((driver9.find_element_by_xpath("//div[@class='sc-94726ce4-3 eSKKHi']/ul/li[2]/a")).text)
    gen9.append((driver9.find_element_by_xpath("//ul[@class='ipc-metadata-list ipc-metadata-list--dividers-all sc-388740f9-1 IjgYL ipc-metadata-list--base']/li[2]/div")).text)
    rt9.append((driver9.find_element_by_xpath("//div[@class='sc-94726ce4-3 eSKKHi']/ul/li[2]")).text)
    rat9.append((driver9.find_element_by_xpath("//*[text()='IMDb RATING']/a/div[1]/div[1]/div[2]/")).text)
    gen9.append((driver9.find_element_by_xpath("//ul[@class='ipc-metadata-list ipc-metadata-list--dividers-all sc-388740f9-1 IjgYL ipc-metadata-list--base']/li[2]/div")).text)

In [245]:
df9=pd.DataFrame({'Name':name9,'Year of span':year9,'Genre':gen9,'Runtime':rt9,'Ratings':rat9,'Votes':vote9})
df9

,Name,Year of span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,010,702"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,094,116"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"955,647"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,689"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,342"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,113"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,902"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,362"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,624"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,479"

# Q10).Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
# You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year
# Note: - from the home page you have to go to the ShowAllDataset page through code.

In [248]:
driver9.close()

In [249]:
driver10=webdriver.Chrome(r"C:\WebDriver\chromedriver.exe")

In [252]:
driver10.get('https://archive.ics.uci.edu/')

In [254]:
opt10=driver10.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
opt10.click()

In [259]:
name10=[]
type10=[]
task10=[]
attype10=[]
inst10=[]
atno10=[]
year10=[]

In [266]:
for i in range(1,623):
    j=i+1
    name10.append(driver10.find_element_by_xpath(("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[1]/table/tbody/tr/td[2]/p/b/a").format(j)).text)
    type10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[2]/p').format(j)).text)
    task10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[3]/p').format(j)).text)
    attype10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[4]/p').format(j)).text)
    inst10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[5]/p').format(j)).text)
    atno10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[6]/p').format(j)).text)
    year10.append(driver10.find_element_by_xpath(('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{0}]/td[7]/p').format(j)).text)

In [267]:
print(len(name10),len(type10),len(attype10),len(task10),len(inst10),len(atno10),len(year10))

622 622 622 622 622 622 622

In [268]:
df10=pd.DataFrame({'Name':name10,'Data Types':type10,'Default Task':task10,'Attribute Types':attype10,'No of Instances':inst10,'No of Attributes':atno10,'Year':year10})
df10

,Name,Data Types,Default Task,Attribute Types,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021